$background-color: #057D9F;
$header-background-color: #FFFCD6;
$green: #B5D5CA;
$dark-green: darken($green, 20%);
$light-blue: #D1EEFC;
$dim-white: #EEF9FF;
$primary-color: white;
$secondary-color: #FF6C2E;
$hover-secondary-color: darken($secondary-color, 5%);
$active-secondary-color: darken($secondary-color, 20%);
$primary-font-color: black;
$secondary-font-color: gray;

@function toRem($size) {
    @return $size / 16px * 1rem;
}